body {
    margin: 10px auto;
    max-width: 1200px;
    padding: 0 15px;
}

#bigfoot-logo {
    width: 246px;
    /* Adding height to keep aspect ratio when flexbox shrinks image */
    height: 100%; 
}

#site-header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    #site-header {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    #episode-listings {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #episode {
        width: 300px;
        height: 300px;
    }
}

#show-information {
    text-align: right;
}

#show-information h2 {
    margin-top: 0;
}

#episode-listings {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.episode {
    width: 300px;
    height: 300px;
    padding: 10px;
}

.episode img {
    width: 100%;
    height: 100%;
}

.play-episode {
    display: flex;
    justify-content: center;
}

#play-image {
    width: 250px;
    height: 250px;
    margin-right: 120px;
}

#tracklist {
    margin-left: -20px;
}

#tracklist p {
    flex-direction: column;

}


